[user]
	name = {{ .name }}
	email = {{ if .is_work }}{{ .work_email }}{{ else }}{{ .email }}{{ end }}

{{- if .is_work }}

[includeIf "gitdir:~/{{ .work_dir }}/"]
	path = ~/{{ .work_dir }}/.gitconfig
{{- end }}

[commit]
    template = ~/.config/git/template.txt
{{ template "gitconfig" }}

[core]
	autocrlf = input
