[user]
	name = {{ .name }}
	email = {{ if .is_work }}{{ .work_email }}{{ else }}{{ .email }}{{ end }}

{{- if .is_work }}

[includeIf "gitdir:~/{{ .work_dir }}/"]
	path = ~/{{ .work_dir }}/.gitconfig
{{- end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	template = ~/.config/git/template.txt

{{ template "gitconfig" }}
