{{- if eq .chezmoi.os "windows" -}}
.shell powershell

# Reload whkd configuration
# f13 + o                 : taskkill /f /im whkd.exe && start /b whkd # if shell is cmd
f13 + o                 : taskkill /f /im whkd.exe; Start-Process whkd -WindowStyle hidden # if shell is pwsh / powershell
f13 + shift + o         : komorebic reload-configuration

f13 + i                 : komorebic toggle-shortcuts

# App shortcuts
f13 + d                 : $wshell = New-Object -ComObject WScript.Shell; if ($wshell.AppActivate('Flow Launcher') -eq $False) { Start-Process 'C:\Users\devje\AppData\Local\FlowLauncher\Flow.Launcher.exe' }
f13 + b                 : $wshell = New-Object -ComObject WScript.Shell; if ($wshell.AppActivate('Brave') -eq $False) { start brave }
f13 + return            : $wshell = New-Object -ComObject WScript.Shell; if ($wshell.AppActivate('Windows Terminal') -eq $False) { wt -p "PowerShell" }

f13 + q                 : komorebic close
f13 + m                 : komorebic minimize

# Focus windows
f13 + h                 : komorebic focus left
f13 + j                 : komorebic focus down
f13 + k                 : komorebic focus up
f13 + l                 : komorebic focus right
f13 + shift + oem_4     : komorebic cycle-focus previous # oem_4 is [
f13 + shift + oem_6     : komorebic cycle-focus next # oem_6 is ]

# Move windows
f13 + shift + h         : komorebic move left
f13 + shift + j         : komorebic move down
f13 + shift + k         : komorebic move up
f13 + shift + l         : komorebic move right
f13 + shift + return    : komorebic promote

# Stack windows
f13 + left              : komorebic stack left
f13 + down              : komorebic stack down
f13 + up                : komorebic stack up
f13 + right             : komorebic stack right
f13 + oem_1             : komorebic unstack # oem_1 is ;
f13 + oem_4             : komorebic cycle-stack previous # oem_4 is [
f13 + oem_6             : komorebic cycle-stack next # oem_6 is ]

# Resize
f13 + oem_plus          : komorebic resize-axis horizontal increase
f13 + oem_minus         : komorebic resize-axis horizontal decrease
f13 + shift + oem_plus  : komorebic resize-axis vertical increase
f13 + shift + oem_minus : komorebic resize-axis vertical decrease

# Manipulate windows
f13 + t                 : komorebic toggle-float
f13 + shift + f         : komorebic toggle-monocle

# Window manager options
f13 + shift + r         : komorebic retile
f13 + p                 : komorebic toggle-pause

# Layouts
f13 + x                 : komorebic flip-layout horizontal
f13 + y                 : komorebic flip-layout vertical

# Workspaces
f13 + 1                 : komorebic focus-workspace 0
f13 + 2                 : komorebic focus-workspace 1
f13 + 3                 : komorebic focus-workspace 2
f13 + 4                 : komorebic focus-workspace 3
f13 + 5                 : komorebic focus-workspace 4
f13 + 6                 : komorebic focus-workspace 5
f13 + 7                 : komorebic focus-workspace 6
f13 + 8                 : komorebic focus-workspace 7

# Move windows across workspaces
f13 + shift + 1         : komorebic move-to-workspace 0
f13 + shift + 2         : komorebic move-to-workspace 1
f13 + shift + 3         : komorebic move-to-workspace 2
f13 + shift + 4         : komorebic move-to-workspace 3
f13 + shift + 5         : komorebic move-to-workspace 4
f13 + shift + 6         : komorebic move-to-workspace 5
f13 + shift + 7         : komorebic move-to-workspace 6
f13 + shift + 8         : komorebic move-to-workspace 7
{{- end -}}
